<table BORDER="0" CELLPADDING="0" CELLSPACING="0" bgcolor="#ffffff">
    <TR>
        <TD>
            <a href=".">
                <IMG SRC="images/mia_kennedy.gif" WIDTH="107" HEIGHT="20" ALT="" border="0">
            </a>
        </TD>
        <td width="269"></td>
        <TD>
            <a href="coaching">
                <IMG SRC="{{partials.context.coaching.img}}" WIDTH="134" HEIGHT="20" onmouseover="this.src='{{partials.context.coaching.imgovr}}'" onmouseout="this.src='{{partials.context.coaching.img}}'" id="clink" border="0">
            </a>
        </TD>
        <td>
            <IMG SRC="images/div.gif" WIDTH="16" HEIGHT="20" ALT="">
        </td>
        <td>
            <a href="training">
                <IMG src="{{partials.context.training.img}}" WIDTH="58" HEIGHT="20" onmouseover="this.src='{{partials.context.training.imgovr}}'" onmouseout="this.src='{{partials.context.training.img}}'" id="tlink" border="0">
            </a>
        </td>
        <td>
            <IMG src="images/div.gif" WIDTH="16" HEIGHT="20" ALT="">
        </td>
        <td>
            <a href="facilitation">
                <IMG src="{{partials.context.facilitation.img}}" WIDTH="75" HEIGHT="20" onmouseover="this.src='{{partials.context.facilitation.imgovr}}'" onmouseout="this.src='{{partials.context.facilitation.img}}'" id="flink" border="0">
            </a>
        </td>
        <td>
            <IMG SRC="images/div.gif" WIDTH="16" HEIGHT="20" ALT="">
        </td>
        <td>
            <a href="contact">
                <IMG SRC="{{partials.context.contact.img}}" WIDTH="66" HEIGHT="20" onmouseover="this.src='{{partials.context.contact.imgovr}}'" onmouseout="this.src='{{partials.context.contact.img}}'" border="0">
            </a>
        </td>
    </TR>
    <tr>
        <td>
            <img src="images/spacer.gif" height="30" width="107">
        </td>
        <td width="269"></td>
        <td colspan="7">
            <img src="images/spacer.gif" height="30" width="381">
        </td>
    </tr>
</table>